<ion-content [fullscreen]="true">
  <div style="margin-top: 50px; display: flex; flex-direction: column;" class='ion-justify-content-center ion-align-items-center'>
    <ion-icon class='app-icon' src='../../../assets/shopping-cart.svg'></ion-icon>
    <p class='app-name'>Crysto Vendor</p>
  </div>
  <div class="inputs">
    <ion-card style="width: 90%;" mode="ios">
      <ion-item *ngIf='this.presentMode == "continue"' class="input" style="margin-top: 7%;">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="number" [(ngModel)]="phone"></ion-input>
      </ion-item>
      <ion-item *ngIf='this.presentMode == "otp"' class="input" style="margin-top: 7%;">
        <ion-label position="floating">Enter OTP</ion-label>
        <ion-input type="number" [(ngModel)]="otp"></ion-input>
      </ion-item>
      <!-- <ion-item class="input">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <div style="display: flex; flex-direction: row;" class='ion-justify-content-end'>
        <a [routerLink]="['/forgot-password']">
          <p style='margin-right: 32px;'>Forgot password?</p>
        </a>
      </div> -->
      <div (click)="performEntryAction()" class="primary-action-button">
        Continue > 
      </div> 
      <!-- <div style="display: flex; flex-direction: row; margin-bottom: 7%;" class='ion-justify-content-center'>
        <a [routerLink]="['/register']">
          <p>New Vendor? Register!</p>
        </a>
      </div> -->
    </ion-card>
  </div>
  <div id="recaptcha-container"></div>
</ion-content>
