ion-content {
    --background: var(--ion-color-primary);
    height: 100%;
}
.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-name {
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 20px;
}
.app-icon {
    font-size: 6rem;
    fill: white;
    svg {
        g {
            fill: white;
        }
    }
}
.credentials-card {
    margin: 7%;
    width: 86%;
}

.input {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 7%;
}

.login {
    color: white;
    margin-top: 40px;
    width: 80%;
}

.google {
    border-radius: 0.25rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
    color: #00000088;
    padding: 0px;
    p {
        margin: 0;
    }
    .icon {
        height: 48px;
        margin-right: 24px;
        
    }
}
