/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$primary: #43A047;

.primary-action-button {
    width: 86%;
    margin: 7%;
    border-radius: 6px;
    padding: 12px;
    text-align: center;
    background-color: $primary;
    color: white;
    font-weight: bold;
}

.primary-button {
    border-radius: 6px;
    padding: 12px;
    text-align: center;
    background-color: $primary;
    color: white;
    font-weight: bold;
}
.secondary-button {
    border-radius: 6px;
    padding: 12px;
    text-align: center;
    background-color: #E8F5E9;
    color: $primary;
    font-weight: bold;
}

