<ion-header mode='ios' translucent="true">
  <ion-toolbar mode="ios" style="--border-width:0px;">
    <ion-title>Register</ion-title>
    <ion-back-button defaultHref="login" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header mode='ios' collapse="condense" class="ion-no-border">
    <ion-toolbar mode="ios" style="--border-width:0px;">
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inputs">
    <div>
      <ion-title size="medium">Basic Details</ion-title>
      <ion-item>
        <ion-label position="floating">Vendor Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email ID</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item style="--inner-border-width: 0px;">
        <ion-label>Shop Image</ion-label>
        <ion-button style="color: white;">Add Image</ion-button>
      </ion-item>
    </div>
    <div>
      <ion-title size="medium">Location Information</ion-title>
      <ion-item>
        <ion-label position="floating">Full Address</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Postcode</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item style="--inner-border-width: 0px;">
        <ion-label>Coordinates</ion-label>
        <ion-button style="color: white;">Open Map</ion-button>
      </ion-item>
    </div>
    <div>
      <ion-title size="medium">Security</ion-title>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="primary-action-button">
    Register
  </div>
</ion-content>