.inputs {
    margin-top: 10%;
    padding: 0% 5%;
    div {
        margin-top: 10%;
        ion-title {
            padding-left: 0px;
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
}